 <div id='container' class='container container-fluid'>
        <header> <!-- HTML5 header tag -->
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <logo>
                        <a class="brand" href="/"><img class="img-responsive logo" src="https://one-stage-vm.cern.ch/static/one/img/logo_one.png"/></a>
                    </logo>
                </div>

                <div class="collapse navbar-collapse pull-right nav navbar-nav nav-pills">
                    <ul class="nav navbar-nav nav-pills">
                        <li class="active whatisnew"><a href="/">What is new?</a></li>
                        <li class="dashboards"><a href="/one/dashboards/">Dashboards</a></li>
                        
                            <li class="playground"><a href="/playground/">Playground</a></li>
                        
                        
                        <li class="jobs"><a href="/jobs/">Jobs</a></li>
                        
                        <li class="setup"><a href='/one/setup/'>Setup</a></li>
                        <li><a href="https://login.cern.ch/adfs/ls/?wa=wsignout1.0">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav> 
        </header>